@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

@theme{
  --color-sunrise: #B83E29;
  --color-midnight: #1D1534;
  --color-ash: #3A3A3A;
}
@layer base {
  h1 {
    font-size: 2em;
    font-weight: 700;
    color: #3A3A3A;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1em;
  }

  p {
    font-size: 1em;
    font-weight: 400;
    color: #3A3A3A;
  }
}