@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');


@theme {
  --color-sidebar: #E9F1FA;
  --color-dashboard: #F4F8FB;
  --color-textDash: #68B1FC;
  --color-dashImput: #D8E5F3;
  --font-league: 'League Gothic', sans-serif;
}
@layer base {
  h1 {
    font-size: 2em;
    font-weight: 700;
    color: #3A3A3A;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1em;
  }

  p {
    font-size: 1em;
    font-weight: 400;
    color: #3A3A3A;
  }
}