@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');


@layer base {
  h1 {
    font-size: 2em;
    font-weight: 700;
    color: #3A3A3A;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1em;
  }

  p {
    font-size: 1em;
    font-weight: 400;
    color: #3A3A3A;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}